$text-fonts: "Inter", "Arial", sans-serif;
$title-fonts: "Readex Pro", "Arial", sans-serif;
$text-color: #222;
$site-bg-color: #fff;
$primary-color: #3a7f9b;
$section-bg-color: #dce5e2;
$white-color: #fff;
$black-color: #000;