.register {
    padding-top: 4.2rem;
    padding-bottom: 1.9rem;
    &__inner {
        width: 100%;
        max-width: 935px;
        margin-left: auto;
        margin-right: auto;
        background-color: $section-bg-color;
        border-radius: 16px;
        padding: 4.7rem 2rem 4.3rem;
        text-align: center;
    }
    &__title {
        @include main-titles;
    }
    &__subtitle {
        @include main-subtitles;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.4rem;
    }
    &__img {
        width: 233px;
        height: 200px;
        object-fit: contain;
        margin-bottom: 1.4rem;
    }
}