%button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-btn {
    @extend %button;
    img {
        width: 24px;
        height: 24px;
        object-fit: contain
    }
}
.cart-btn {
    @extend %button;
    img {
        width: 24px;
        height: 24px;
        object-fit: contain
    }
}

.burger {
    @include responsive(tables) {
        display: block;
    }
    @extend %button;
    display: none;
    img {
        width: 30px;
        height: 30px;
    }
}